//// FONT IMPORT: RUBIK ////////////////
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Rubik:wght@400;500&display=swap');



.contact-section{
    background-color: $softBlue;
    height: 20em;
    @include setFlex(column, center, center);
    header{
        text-align: center;
        width: 90%;
        color: #fff;
        span{
            display: block;
            text-transform: uppercase;
            letter-spacing: 5px;
            word-wrap: 1px;
            font-size: 14px;
            padding-bottom: 1em;
        }
        h3{
            font-size: 20px;
            font-weight: 500;
        }
    }
    form{
        width: 80% ;
        padding-top: 2em;
        @include setFlex(column, space-between, stretch);
        .email-input-container{
            border-radius: 5px;
            padding: .2em .2em .5em .2em;
            transition: .3s all ease-out;
            &.error{
                background-color: $softRed;
            }
            .input-wrapper{
                @include setFlex(row, space-around, center);
                border-radius: 5px;
                background: #fff;
                img{
                    opacity: 0;
                    &.active{
                        opacity: 1;
                    }
                }
            }
            .error-msg{
                font-size: 12px;
                color: #fff;
                margin-left: 1em;
                font-style: italic;
                opacity: 0;
                transition: .3s all ease;
                transition-delay: .3s;
                &.active{
                    opacity: 1;
                    padding: 1em;
                }
            }
        }

        input{
            border-radius: 5px;
            border: none;
            padding: 1.2em 1.5em;
            color: $veryDarkBlue;
            &:focus-within{
                outline: none;
            }
            &::placeholder{
                color: $grayishBlue;
            }
        }
        input[type=submit]{
            margin-top: 1em;
            color: #fff;
            background-color: $softRed;
            font-weight: 500;
        }
    }
}