
@import "mixin";

%anchor-style{
    display: block;
    color: #fff;
    padding: 1em 0;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

body{
    position: relative;
}

.menu{
    display: none;
    min-height: 100vh;
    background-color: $veryDarkBlueTrasparent;
    opacity: 0;
    transition: .3s all;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    &.active{
        @include setFlex(column, space-evenly, stretch);
    }
    &.active.animation{
        opacity: 1;
    }
    .logo-container{
        padding: 2.5em;
        @include setFlex(row, space-between, center);
        .menu-logo{
            svg{
                path{
                    fill: #fff;
                }
            }
        }
    }
    .links{
        list-style: none;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        li{
            border-bottom: 1px solid $grayishBlue;
            &:first-of-type{
                border-top: 1px solid $grayishBlue;
            }
            a{
                @extend %anchor-style;

            }
        }
    }

    .login-cta{
        padding-top: 2em;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        a{
            @extend %anchor-style;
            padding: .5em;
            border-radius: 7px;
            border: 2px solid #fff;
        }
    }

    .social-media-container{
        width: 80%;
        margin: 0 auto;
        @include setFlex(row, center, center);
        img{
            margin: 0 1em;
        }
    }
}

.hero-container{
    max-width: 420px;
    margin: 0 auto;
    position: relative;
    .img-bg-container{
        img{
            display: block;
            max-width: 325px;
            margin: 0 auto;
        }
        .bg-pattern{
            background-color: $softBlue;
            width: 275px;
            height: 200px;
            border-radius: 100% 20% 40% 100%;
            position: absolute;
            left: 80px;
            top: 4em;
            z-index: -1;
        }
    }
    .content{
        padding-top: 3em;
        header{
            h1{
                color: $veryDarkBlue;
                text-align: center;
                font-size: 24px;
                width: 80%;
                margin: 0 auto;
            }
        }
        p{
            color: $grayishBlue;
            width: 80%;
            margin: 2em auto;
            text-align: center;
            line-height: 1.7;
        }
        .cta-container{
            @include setFlex(row, space-evenly, center);
           a{
            text-decoration: none;
            color: $veryDarkBlue;
            padding: .8em 1em;
            border-radius: 5px;
            &:first-of-type{
                background-color: $softBlue;
                color: #fff;

            }
            &:last-of-type{
                color: $grayishBlue;
                box-shadow: $lightBoxShadow;
            }
           }
        }
    }


}