

.tab-content{
    padding: 4em 0;
 
    .tab{
        width: 320px;
        position: relative;
        margin: 0 auto;
        transition: .3s all ease-in;
        opacity: 0;
        
        &.active{
            opacity: 1;
        }
        .tab-hero-container{
            margin-bottom: 2.5em;
            img{
                display: block;
                max-width: 325px;
                margin: 0 auto;
            }
        }
        header{
            padding-top: 4em;
            h3{
                font-size: 24px;
                color: $veryDarkBlue;
            }
        }
        .bg-pattern{
            top: 0;
            top: 20%;
            right: 3.5em;
            height: 200px;
            width: 290px;
            background: $softBlue;
            position: absolute;
            z-index: -1;
            border-radius: 10% 50% 50% 15%;
        }
    }
}