

////////////////////// COLORS ////////////////////////


    // PRIMARY /////////////////////////
$softBlue: hsl(231, 69%, 60%);
$softRed: hsl(0, 94%, 66%);
    // NEUTRAL /////////////////////////
$grayishBlue: hsl(229, 8%, 60%);
$veryDarkBlue: #252b46;
$veryDarkBlueTrasparent:#252b46dc;