@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Rubik:wght@400;500&display=swap");
.menu .login-cta a, .menu .links li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
}
.menu .login-cta a:hover, .menu .links li a:hover {
  text-decoration: underline;
}

body {
  position: relative;
}

.menu {
  display: none;
  min-height: 100vh;
  background-color: rgba(37, 43, 70, 0.862745098);
  opacity: 0;
  transition: 0.3s all;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.menu.active {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.menu.active.animation {
  opacity: 1;
}
.menu .logo-container {
  padding: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu .logo-container .menu-logo svg path {
  fill: #fff;
}
.menu .links {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.menu .links li {
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.menu .links li:first-of-type {
  border-top: 1px solid hsl(229, 8%, 60%);
}
.menu .login-cta {
  padding-top: 2em;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.menu .login-cta a {
  padding: 0.5em;
  border-radius: 7px;
  border: 2px solid #fff;
}
.menu .social-media-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu .social-media-container img {
  margin: 0 1em;
}

.hero-container {
  max-width: 420px;
  margin: 0 auto;
  position: relative;
}
.hero-container .img-bg-container img {
  display: block;
  max-width: 325px;
  margin: 0 auto;
}
.hero-container .img-bg-container .bg-pattern {
  background-color: hsl(231, 69%, 60%);
  width: 275px;
  height: 200px;
  border-radius: 100% 20% 40% 100%;
  position: absolute;
  left: 80px;
  top: 4em;
  z-index: -1;
}
.hero-container .content {
  padding-top: 3em;
}
.hero-container .content header h1 {
  color: #252b46;
  text-align: center;
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
}
.hero-container .content p {
  color: hsl(229, 8%, 60%);
  width: 80%;
  margin: 2em auto;
  text-align: center;
  line-height: 1.7;
}
.hero-container .content .cta-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.hero-container .content .cta-container a {
  text-decoration: none;
  color: #252b46;
  padding: 0.8em 1em;
  border-radius: 5px;
}
.hero-container .content .cta-container a:first-of-type {
  background-color: hsl(231, 69%, 60%);
  color: #fff;
}
.hero-container .content .cta-container a:last-of-type {
  color: hsl(229, 8%, 60%);
  box-shadow: 0px 3px 5px hsla(229, 8%, 60%, 0.466);
}

.features-container {
  width: 90%;
  margin: 3em auto 0 auto;
}
.features-container header h1 {
  color: #252b46;
  text-align: center;
}
.features-container p {
  text-align: center;
  margin: 1em 0;
  color: hsl(229, 8%, 60%);
  line-height: 1.7;
}
.features-container .tab-container {
  text-align: center;
}
.features-container .tab-container .tab-buttons {
  list-style: none;
}
.features-container .tab-container .tab-buttons li {
  padding: 1.2em 0;
  border-bottom: 1px solid hsl(229, 8%, 60%);
}
.features-container .tab-container .tab-buttons li span {
  color: hsl(229, 8%, 60%);
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 0.8em;
}
.features-container .tab-container .tab-buttons li span.active {
  color: #252b46;
  border-bottom: 5px solid red;
}

.tab-content {
  padding: 4em 0;
}
.tab-content .tab {
  width: 320px;
  position: relative;
  margin: 0 auto;
  transition: 0.3s all ease-in;
  opacity: 0;
}
.tab-content .tab.active {
  opacity: 1;
}
.tab-content .tab .tab-hero-container {
  margin-bottom: 2.5em;
}
.tab-content .tab .tab-hero-container img {
  display: block;
  max-width: 325px;
  margin: 0 auto;
}
.tab-content .tab header {
  padding-top: 4em;
}
.tab-content .tab header h3 {
  font-size: 24px;
  color: #252b46;
}
.tab-content .tab .bg-pattern {
  top: 0;
  top: 9em;
  right: 3.5em;
  height: 200px;
  width: 290px;
  background: hsl(231, 69%, 60%);
  position: absolute;
  z-index: -1;
  border-radius: 10% 50% 50% 15%;
}

.extension-container {
  padding-top: 2em;
}
.extension-container header.title {
  padding-bottom: 2.5em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.extension-container header.title h2 {
  color: #252b46;
}
.extension-container header.title p {
  margin-top: 1.5em;
  color: hsl(229, 8%, 60%);
  line-height: 1.75;
}

.card-container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 320px;
  height: 380px;
  margin: 5em auto;
  box-shadow: 0px 3px 5px hsla(229, 8%, 60%, 0.466);
  border-radius: 20px;
}
.card-container .card header h3 {
  color: #252b46;
}
.card-container .card header p {
  margin-top: 1.5em;
  color: hsl(229, 8%, 60%);
  line-height: 1.75;
}
.card-container .card .cta-container {
  padding-top: 2em;
  width: 100%;
  background-image: url("../images/bg-dots.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container .card .cta-container a {
  text-decoration: none;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  padding: 1em 1.5em;
  border-radius: 7px;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  font-family: sans-serif;
  padding-bottom: 5em;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  transition: 0.3s all ease;
}
.main-menu.hidden {
  opacity: 0;
}

.hero-container img {
  height: auto;
  width: 100%;
}/*# sourceMappingURL=main.css.map */